{% extends 'base.html' %}

{% block meta %}
<title>Add Task</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-color: rgb(238, 241, 220)
    }
</style>

<div class = "form">

    <div class = "login container d-flex flex-column justify-content-center align-items-center">
    <h1>New Task</h1>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Task Name: </td>
                <td><input type="text" name="title" placeholder="Task.." class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Task Description: </td>
                <td><input type="text" name="description" placeholder="Description.." class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="submit"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock content %}