{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-color: mistyrose
    }
</style>

<div class = "login">

    <div class = "login container d-flex flex-column justify-content-center align-items-center">
    <h1>Login</h1>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="login" style="background-color: rgb(163, 163, 163)"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    <div class = "login container d-flex flex-column justify-content-center align-items-center">
    Belum mempunyai akun? <a class="btn btn-outline-primary btn-sm" type="button" href="{% url 'todolist:register' %}"> Buat Akun</a>
    </div>

</div>

{% endblock content %}